
\.ipynb_checkpoints/

\.DS_Store

input\.csv
output\.csv

4 - Lesson on prediction active regulatory regions/hg19\.fa

4 - Lesson on prediction active regulatory regions/hg19\.fa\.fai

4 - Lesson on prediction active regulatory regions/GM12878/encoded_regions\.fa

4 - Lesson on prediction active regulatory regions/GM12878/expanded_regions\.fa
